= form.fields_for :address do |f|
  %div.addr-section
    %h2 Property
    .fields
      .col-span-full
        = f.label :street1, 'Street address'
        .mt-2
          = f.text_field :street1, class: 'w-full', data: {'calculator-target': 'street1'}
    .property-details.hidden
      .fields
        .sm:col-span-1.sm:col-start-1
          = f.label :market_value, '', data: {'calculator-target': 'market_value'}
        .sm:col-span-1
          = f.label :year_built, '', data: {'calculator-target': 'year_built'}
        .sm:col-span-1
          = f.label :bedroom, '', data: {'calculator-target': 'bedroom'}
        .sm:col-span-1
          = f.label :bathroom, '', data: {'calculator-target': 'bathroom'}
        .sm:col-span-1
          = f.label :living_area, '', data: {'calculator-target': 'living_area'}
        .sm:col-span-1
          = link_to 'Property Listing', '#', target: '_blank', data: {'calculator-target': 'property_link'}