%div{data: {controller: 'calculator'}}
  = form_for @calculator, url: run_calculator_path, method: :post, html: {data: {'calculator-target': 'form'}} do |f|
    = render partial: 'layouts/error_messages', locals: {errors: @calculator.errors}

    %div.strategy-section
      %h2 Market
      .fields
        .sm:col-span-2.sm:col-start-1
          = f.radio_button :market_strategy, 'str', checked: true, data: {'calculator-target': 'market_strategy', action: 'click->calculator#handleMarketType'}
          .inline-block.ml-2= f.label :market_strategy, 'Short-term Strategy', value: 'str'
        .sm:col-span-2
          = f.radio_button :market_strategy, 'ltr', data: {'calculator-target': 'market_strategy', action: 'click->calculator#handleMarketType'}
          .inline-block.ml-2= f.label :market_strategy, 'Long-term Strategy', value: 'ltr'

    = render partial: 'address', locals: {form: f}
    = render partial: 'layouts/skeleton'

    .calc-section.hidden
      %h2 Loan
      .fields
        .sm:col-span-2.sm:col-start-1
          = f.label :sale_price, 'Sale Price'
          .mt-2
            \$
            = f.number_field :sale_price, value: 0, data: {'calculator-target': 'sale_price', action: 'change->calculator#handleLoanAmount'}
        .sm:col-span-2
          = f.label :down_payment, 'Down Payment'
          .mt-2.text-percentage
            = f.text_field :down_payment, value: '20', data: {'calculator-target': 'down_payment', action: 'change->calculator#handleLoanAmount'}
            \%
        .sm:col-span-2
          = f.label :loan_amount, 'Loan Amount'
          .mt-2
            \$
            = f.number_field :loan_amount, readonly: true, disabled: true, data: {'calculator-target': 'loan_amount', action: 'change->calculator#handleMonthlyMortgage'}
        .sm:col-span-2.sm:col-start-1
          = f.label :interest_rate, 'Interest Rate'
          .mt-2.text-percentage
            = f.text_field :interest_rate, value: '7', data: {'calculator-target': 'interest_rate', action: 'change->calculator#handleMonthlyMortgage'}
            \%
        .sm:col-span-2
          = f.label :loan_length, 'Loan Length (in years)'
          .mt-2.text-percentage
            = f.number_field :loan_length, value: 30, data: {'calculator-target': 'loan_length', action: 'change->calculator#handleMonthlyMortgage'}
        .sm:col-span-2
          = f.label :monthly_mortgage, 'Monthly Mortgage'
          .mt-2
            \$
            = f.number_field :monthly_mortgage, readonly: true, disabled: true, data: {'calculator-target': 'monthly_mortgage'}

    .calc-section.hidden
      %h2 Costs
      .fields
        .sm:col-span-2.sm:col-start-1
          = f.label :closing_cost, 'Closing Cost'
          .mt-2
            = f.number_field :closing_cost, value: 3, class: 'dynamic', data: {'calculator-target': 'closing_cost', action: 'change->calculator#handleInitialCashInvestment'}
            \%
        .sm:col-span-2
          = f.label :rehab_cost, 'Rehab Cost'
          .mt-2
            \$
            = f.number_field :rehab_cost, value: 0, data: {'calculator-target': 'rehab_cost', action: 'change->calculator#handleInitialCashInvestment'}
        .sm:col-span-2{data: {'calculator-target': 'str'}}
          = f.label :furniture_cost, 'Furniture Cost'
          .mt-2
            \$
            = f.number_field :furniture_cost, value: 0, data: {'calculator-target': 'furniture_cost', action: 'change->calculator#handleInitialCashInvestment'}
        .sm:col-span-2.sm:col-start-1
          = f.label :initial_cash_investment, 'Initial Cash Investment'
          .mt-2
            \$
            = f.number_field :initial_cash_investment, readonly: true, disabled: true, data: {'calculator-target': 'initial_cash_investment'}

    .calc-section.hidden
      %h2 Rental
      .fields
        .sm:col-span-2.sm:col-start-1{data: {'calculator-target': 'str'}}
          = f.label :avg_daily_rate, 'Average Daily Rate'
          .mt-2
            \$
            = f.number_field :avg_daily_rate, data: {'calculator-target': 'avg_daily_rate', action: 'change->calculator#handleMonthlyRent'}
        .sm:col-span-2{data: {'calculator-target': 'str'}}
          = f.label :occupancy_rate, 'Occupancy Rate'
          .mt-2.text-percentage
            = f.text_field :occupancy_rate, data: {'calculator-target': 'occupancy_rate', action: 'change->calculator#handleMonthlyRent'}
            \%
        .sm:col-span-2
          = f.label :est_monthly_rent, 'Estimated Monthly Rent'
          .mt-2
            \$
            = f.text_field :est_monthly_rent, value: '0', readonly: true, disabled: true, data: {'calculator-target': 'est_monthly_rent', action: 'change->calculator#handleMonthlyRent'}
            = f.text_field :est_monthly_rent_ltr, value: '0', data: {'calculator-target': 'est_monthly_rent_ltr', action: 'change->calculator#handleMonthlyRent'}
      .rent-details.hidden
        .fields
          .sm:col-span-1.sm:col-start-1
            = f.label :median, '', data: {'calculator-target': 'rent_median'}
          .sm:col-span-1
            = f.label :min, '', data: {'calculator-target': 'rent_min'}
          .sm:col-span-1
            = f.label :max, '', data: {'calculator-target': 'rent_max'}
      .adr-details.hidden
        .fields
          .sm:col-span-1.sm:col-start-1
            = f.label :projected_revenue, '', data: {'calculator-target': 'projected_revenue'}

    .calc-section.hidden
      %h2 Expenses
      .fields
        .sm:col-span-2.sm:col-start-1
          = f.label :maintenance, 'Maintenance'
          .mt-2
            = f.text_field :maintenance, value: '5', class: 'dynamic', data: {'calculator-target': 'maintenance', action: 'change->calculator#handleMonthlyExpenses'}
            \%
        .sm:col-span-2
          = f.label :property_management_fees, 'Property Management Fees'
          .mt-2
            = f.text_field :property_management_fees, value: '0', class: 'dynamic', data: {'calculator-target': 'property_management_fees', action: 'change->calculator#handleMonthlyExpenses'}
            \%
        .sm:col-span-2{data: {'calculator-target': 'str'}}
          = f.label :booking_lodging_fees, 'Booking/Lodging Fees'
          .mt-2
            = f.text_field :booking_lodging_fees, value: '0', data: {'calculator-target': 'booking_lodging_fees', action: 'change->calculator#handleMonthlyExpenses'}
            \%
        .sm:col-span-2.sm:col-start-1
          = f.label :property_tax_rate, 'Property Tax Rate'
          .mt-2
            = f.text_field :property_tax_rate, value: '0', data: {'calculator-target': 'property_tax_rate', action: 'change->calculator#handleMonthlyExpenses'}
            \%
        .sm:col-span-2
          = f.label :property_tax, 'Monthly Property Tax'
          .mt-2
            \$
            = f.text_field :property_tax, value: '0', readonly: true, disabled: true, data: {'calculator-target': 'property_tax'}
        .sm:col-span-2
          = f.label :annual_insurance, 'Monthly Insurance'
          .mt-2
            \$
            = f.text_field :annual_insurance, value: '0', data: {'calculator-target': 'annual_insurance', action: 'change->calculator#handleMonthlyExpenses'}
        .sm:col-span-2
          = f.label :monthly_hoa, 'Monthly HOA'
          .mt-2
            \$
            = f.text_field :monthly_hoa, value: '0', data: {'calculator-target': 'monthly_hoa', action: 'change->calculator#handleMonthlyExpenses'}
        .sm:col-span-2.sm:col-start-1{data: {'calculator-target': 'str'}}
          = f.label :monthly_supplies, 'Monthly Supplies'
          .mt-2
            \$
            = f.text_field :monthly_supplies, value: '0', data: {'calculator-target': 'monthly_supplies', action: 'change->calculator#handleMonthlyExpenses'}
        .sm:col-span-2
          = f.label :monthly_utilities, 'Monthly Utilities'
          .mt-2
            \$
            = f.text_field :monthly_utilities, value: '0', class: 'dynamic', data: {'calculator-target': 'monthly_utilities', action: 'change->calculator#handleMonthlyExpenses'}
        .sm:col-span-2
          = f.label :monthly_expenses, 'Monthly Expenses'
          .mt-2
            \$
            = f.text_field :monthly_expenses, readonly: true, disabled: true, data: {'calculator-target': 'monthly_expenses', action: 'change->calculator#handleMetrics'}

    .metrics.hidden
      %h2 ROI
      .fields
        .sm:col-span-2.sm:col-start-1
          = f.label :monthly_cash_flow, 'Monthly Cash Flow'
          .mt-2
            \$
            = f.text_field :monthly_cash_flow, readonly: true, disabled: true, data: {'calculator-target': 'monthly_cash_flow'}
        .sm:col-span-2
          = f.label :coc_return, 'Cash on Cash Return'
          .mt-2
            = f.text_field :coc_return, readonly: true, disabled: true, data: {'calculator-target': 'coc_return'}
            \%
        .sm:col-span-2.sm:col-start-1
          = f.label :year_1_debt_paydown, 'Year 1 Debt Paydown'
          .mt-2
            = f.text_field :year_1_debt_paydown, readonly: true, disabled: true, data: {'calculator-target': 'year_1_debt_paydown'}
            \%
        .sm:col-span-2
          = f.label :appreciation, 'Appreciation (3% national)'
          .mt-2
            = f.text_field :appreciation, readonly: true, disabled: true, data: {'calculator-target': 'appreciation'}
            \%
        .sm:col-span-2
          = f.label :annualized_roi, 'Annualized ROI'
          .mt-2
            = f.text_field :annualized_roi, readonly: true, disabled: true, data: {'calculator-target': 'annualized_roi'}
            \%

    -# .mt-6.flex.items-center.justify-end.gap-x-6
    -#   %button= f.submit 'Analyze', data: { disable_with: 'Analyzing...' }